.text {
    font-weight: bold;
}

.headerOne {
    top: 0;
    position: sticky;
}

.headerTwo {
    top: 27px;
    position: sticky;
}

.headerOne, .headerTwo, .headerThree {
    background-color: #a7d5c1;
    font-weight: bold;
}