.beverage {
    max-width: 45px;
    max-height: 45px;
    display: flex;
    text-align: center;
}

.text {
    font-weight: bold;
}

.headerOne {
    top: 200px;
    position: sticky;
}

.headerTwo {
    top: 225px;
    position: sticky;
}

.headerOne, .headerTwo {
    background-color: #a7d5c1;
    font-weight: bold;
}

.dropdownLists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-device-width: 737px) {
    .beverage {
        max-width: 45px;
        max-height: 45px;
        display: flex;
        text-align: center;
    }

    .text {
        font-weight: bold;
    }

    .headerOne {
        top: 0;
        position: sticky;
    }

    .headerTwo {
        top: 27px;
        position: sticky;
    }

    .headerOne, .headerTwo {
        background-color: #a7d5c1;
        font-weight: bold;
    }

    .dropdownLists {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}









