.register-form {
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
}

.sendToLogin {
    margin-left: 3px;
    margin-right: 3px;
}

.dropdown-containerRole {
    margin: 5px;
    border: solid black 2px;
    border-radius: 1rem;
    width: 160px;
    text-align: center;
}

select {
    width: 95%;
    color: #757575;
    -webkit-appearance: none;
    border: transparent;
    text-align-last: center;
    border-radius: 1rem;
}

select option {
    color: black;
}



