.register-form {
    display: flex;
    flex-direction: column;
}

.container, .customButton {
    margin: 5px;
    border: solid black 2px;
    border-radius: 1rem;
    width: 165px;
    text-align: center;
}

.customButton {
    width: 170px;
    background-color: transparent;
    color: #757575;
}

.upload {
    display: none;
}

.error {
    color: red;
    margin: 3px 0;
}

.dateLabel {
    margin-left: 20px;
}

.dropdown-containerStatus {
    margin: 5px;
    border: solid black 2px;
    border-radius: 1rem;
    width: 160px;
    text-align: center;
}

.selectStyle {
    width: 95%;
    color: #757575;
    -webkit-appearance: none;
    border: transparent;
    text-align-last: center;
    border-radius: 1rem;
}

.bold {
    font-weight: bold;
}






