.calculations {
    width: 65px;
    height: 25px;
}

.text {
    font-weight: bold;
}

.black {
    background-color: black;
}

.headerTwo {
    top: 27px;
    position: sticky;
}

.headerThreeEmpty {
    color: #a7d5c1;
    background-color: #a7d5c1;
}

.headerTwo, .headerThree {
    background-color: #a7d5c1;
    font-weight: bold;
}



