.background {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 155%;
    background-color: blue;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 200px;
}

.error {
    color: red;
    margin: 3px 0;
}

.imagePreview {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 50%;
}

.imagePreview input[type="file"]   {
    display: none;
}

button {
    border: none;
    outline: none;
    margin: 10px;
}

@media only screen and (min-device-width: 737px) {
    .background {
        min-height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: yellow;
    }

    .container {
        margin: auto;
        width: 100%;
        /*max-width: 200px;*/
    }

    .error {
        color: red;
        margin: 3px 0;
    }

    .imagePreview {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 3px solid black;
        border-radius: 50%;
    }

    .imagePreview input[type="file"]   {
        display: none;
    }

    button {
        border: none;
        outline: none;
        margin: 10px;
    }
}
