.nav-list {
    display: flex;
    background-color: #a7d5c1;
    align-items: center;
    width: 150%;
}

.nav-item {
    list-style: none;
    margin-right: 5rem;
}

.nav-item:first-child {
    margin-left: -40px;
}

.active-link {
    border-bottom: 2px solid #d5a7bb;
    text-decoration: none;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px 5px 0 5px;
}

@media only screen and (min-device-width: 737px) {
    .nav-list {
        display: flex;
        background-color: #a7d5c1;
        align-items: center;
        max-width: 99.6%;
    }

    .nav-item {
        list-style: none;
    }

    .active-link {
        border-bottom: 2px solid #d5a7bb;
        text-decoration: none;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        margin: 5px 5px 0 5px;
    }
}

@media only screen and (min-device-width: 900px) {
    .nav-list {
        display: flex;
        background-color: #a7d5c1;
        align-items: center;
        max-width: 99.6%;
    }

    .nav-item {
        list-style: none;
        margin-right: 2rem;

    }

    .active-link {
        border-bottom: 2px solid #d5a7bb;
        text-decoration: none;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        margin: 5px 5px 0 5px;
    }
}




