.nav-list {
    display: flex;
    background-color: #9AABDC;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 5rem;
}

.nav-item:first-child {
    margin-left: -40px;
}

.active-link {
    border-bottom: 2px solid #304897;
    text-decoration: none;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px 5px 0 5px;
}

