.container-studentCoinsButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.coins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}