.before-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.before-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 400px ;
    width: 400px;
}

.before-countTable {
    margin-left: 410px;
}

@media only screen and (min-device-width: 737px) {
    .before-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        width: 400px;
    }

    .before-countTable {
        margin-left: 0;
    }
}

